/Base GGJ.capx.autosave
/Base GGJ.capx.backup1
/Base GGJ.uistate.xml
/Event sheets/Enemy.uistate.xml
/Event sheets/FASE.uistate.xml
/Event sheets/Personagens.uistate.xml
/Event sheets/PowerUps.uistate.xml
/Layouts/Layout 1.uistate.xml
