<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block any="1" sid="7947932179637884">
            <conditions>
                <condition id="1" name="On any key pressed" sid="766333339579173" type="Keyboard" />
                <condition id="8" name="On any button pressed" sid="529591286603624" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                </condition>
                <condition id="8" name="On any button pressed" sid="1671884728383873" type="Gamepad">
                    <param id="0" name="Gamepad">1</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="3920248825382994" type="System">
                    <param id="0" name="Layout">Layout 1</param>
                </action>
                <action id="10" name="Request fullscreen" sid="7844971768867406" type="Browser">
                    <param id="0" name="Mode">3</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
